body {
  color: #666;
  font-family: "microsoft yahei";
}

.top, .header_main, .main, .footer {
  width: 100%;
  height: 100px;
  background: #fff;
}

.top {
  background-color: #f7f7f7;
  padding-top: 6px;
  height: 29px;
  position: relative;
  z-index: 902;
  border-bottom: 1px solid #ededed;
  font-size: 12px;
}

.header_main {
  height: 80px;
  padding-top: 12px;
  padding-bottom: 7px;
  position: relative;
  margin: 0 auto;
}
.header_main .header_logo {
  float: left;
  display: block;
  width: 600px;
  height: 99px;
  top: 0px;
  position: absolute;
  left: 0px;
  background: url(http://i0.ulecdn.com/ule/header/images/logo.png) no-repeat center;
}
.header_main .step {
  width: 570px;
  height: 35px;
  float: right;
  margin-top: 20px;
  margin-right: 300px;
  background: url(http://i0.ulecdn.com/ule/header/images/cart_tit_new.png?v201402101030) no-repeat 0 0;
}

.empty-cart {
  width: 950px;
  margin: 0 auto;
  height: 98px;
  padding: 80px 0 120px;
  color: #333;
}

.empty-cart-msg {
  height: 98px;
  line-height: 20px;
  font-size: 14px;
  padding-left: 341px;
  padding-top: 25px;
  color: #555;
}

.empty-cart-msg a {
  display: block;
  color: #fff;
  height: 40px;
  width: 150px;
  background-color: red;
  text-align: center;
  line-height: 40px;
  margin-top: 30px;
  text-decoration: none;
}

.main {
  height: 800px;
  border-top: 4px solid #a71b1c;
}
.main .content {
  width: 950px;
  background-color: #fff;
  margin: 0 auto;
  height: 100%;
}
.main .content .section1 {
  width: 100%;
  height: 36px;
  padding-top: 10px;
  text-align: center;
  line-height: 36px;
  border-bottom: 1px solid #f5f5f5;
}
.main .content .section1 h2 {
  float: left;
  margin-left: 20px;
  color: #000;
}
.main .content .section1 a {
  display: block;
  float: right;
  width: 90px;
  height: 36px;
  padding-left: 8px;
  font-size: 12px;
  text-decoration: none;
  background: url(http://i0.ulecdn.com/ule/cart/v3/images/ico_myfavor.png) no-repeat left center;
}
.main .content .section2 {
  width: 100%;
  height: 24px;
  padding: 8px 0 8px 0;
}
.main .content .section2 .p1 {
  margin-left: 35px;
  width: 82px;
  height: 24px;
  background: url(http://i0.ulecdn.com/i/search/2016/0316/zjl_icon_001.png) no-repeat;
  background-position: 0 -75px;
}
.main .content .section3 {
  width: 100%;
  height: 34px;
  background-color: #eee;
}
.main .content .section3 .list {
  width: 930px;
  height: 100%;
  padding: 0 10px 0 10px;
}
.main .content .section3 .list li {
  height: 100%;
  line-height: 34px;
  text-align: center;
  float: left;
  font-size: 12px;
}
.main .content .section3 .list .list_1 {
  width: 30px;
}
.main .content .section3 .list .list_2 {
  width: 48px;
}
.main .content .section3 .list .list_3 {
  width: 450px;
  text-align: right !important;
}
.main .content .section3 .list .list_4 {
  width: 200px;
}
.main .content .section3 .list .list_5 {
  width: 48px;
}
.main .content .section3 .list .list_6 {
  width: 150px;
}
.main .content .section4 {
  width: 100%;
  height: 34px;
}
.main .content .section4 .list {
  width: 930px;
  height: 34px;
  padding: 0 10px 0 10px;
}
.main .content .section4 .list li {
  height: 100%;
  line-height: 34px;
  text-align: center;
  float: left;
  font-size: 12px;
}
.main .content .section4 .list .list_1 {
  width: 30px;
}
.main .content .section4 .list .list_2 {
  width: 80px;
  padding-left: 21px;
  background: url(http://i0.ulecdn.com/ule/cart/v3/images/icons.png) no-repeat 0 9px;
  font-size: 14px !important;
}
.main .content .section4 .list .list_2 a {
  text-decoration: none;
}
.main .content .section5 {
  width: 100%;
  height: 110px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.main .content .section5 .list {
  width: 930px;
  height: 80px;
  padding: 15px 10px 15px 10px;
}
.main .content .section5 .list li {
  height: 100%;
  line-height: 22px;
  text-align: center;
  float: left;
  font-size: 12px;
}
.main .content .section5 .list .list_1 {
  width: 30px;
}
.main .content .section5 .list .list_2 {
  width: 80px;
}
.main .content .section5 .list .list_2 img {
  display: block;
  height: 80px;
  width: 80px;
}
.main .content .section5 .list .list_3 {
  width: 220px;
}
.main .content .section5 .list .list_3 a {
  text-decoration: none;
  color: #555;
}
.main .content .section5 .list .list_4 {
  width: 140px;
  color: #aaa;
  text-align: left !important;
}
.main .content .section5 .list .list_5 {
  width: 55px;
  text-align: right !important;
}
.main .content .section5 .list .list_6 {
  width: 150px;
  text-align: right !important;
}
.main .content .section5 .list .list_6 a {
  display: inline-block;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  float: right;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
}
.main .content .section5 .list .list_6 input {
  width: 35px;
  height: 16px;
  float: right;
  text-align: center;
}
.main .content .section5 .list .list_7 {
  width: 98px;
  text-align: right !important;
  color: #a71b1c;
}
.main .content .section5 .list .list_8 {
  width: 90px;
  text-align: right !important;
}
.main .content .section5 .list .list_8 a {
  text-decoration: none;
}
.main .content .section5 .list .list_8 .collect {
  display: block;
}
.main .content .section5 .list .list_8 .del {
  color: #555;
}
.main .content .section6 {
  width: 100%;
  height: 34px;
}
.main .content .section6 .list {
  width: 930px;
  height: 24px;
  padding: 10px 10px 0 10px;
}
.main .content .section6 .list li {
  height: 100%;
  line-height: 24px;
  text-align: center;
  float: left;
  font-size: 12px;
}
.main .content .section6 .list .list_1 {
  width: 30px;
}
.main .content .section6 .list .list_2 {
  width: 30px;
  line-height: 24px !important;
  color: #555;
}
.main .content .section6 .list a {
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
  color: #555;
  border-radius: 5px;
  height: 22px;
  padding: 0 18px 0 40px;
  border: 1px solid #ccc;
  margin-left: 20px;
  float: left;
}
.main .content .section6 .list .a1 {
  width: 48px;
  background: url(http://i0.ulecdn.com/ule/cart/v3/images/icons.png) no-repeat 19px -77px;
}
.main .content .section6 .list .a2 {
  width: 60px;
  background: url(http://i0.ulecdn.com/ule/cart/v3/images/icons.png) no-repeat 19px -109px;
}
.main .content .section7 {
  margin-top: 35px;
  width: 100%;
  height: 60px;
  background-color: #eee;
}
.main .content .section7 .list {
  width: 930px;
  height: 100%;
  padding: 0 10px 0 10px;
}
.main .content .section7 .list li {
  height: 100%;
  line-height: 30px;
  text-align: center;
  float: left;
  font-size: 12px;
}
.main .content .section7 .list .list_1 {
  width: 100px;
}
.main .content .section7 .list .list_2 {
  width: 100px;
}
.main .content .section7 .list .list_3 {
  width: 100px;
}
.main .content .section7 .list .list_4 {
  width: 100px;
}
.main .content .section7 .list .list_5 {
  line-height: 60px;
  font-size: 30px;
  color: #a71b1c;
}
.main .content .section7 .list a {
  height: 38px;
  text-decoration: none;
  border-radius: 5px;
  float: right;
  margin-top: 10px;
  line-height: 38px;
  text-align: center;
}
.main .content .section7 .list .settle {
  width: 132px;
  color: #eee;
  background-color: red;
  opacity: .5;
  display: inline-block;
  margin-left: 10px;
}
.main .content .section7 .list .shopping {
  width: 100px;
  background-color: #fff;
  color: #555;
}

.footer {
  height: 300px;
  height: 437px;
  background-color: #fff;
  font-size: 12px;
  padding: 20px 0;
}

/*# sourceMappingURL=cart.css.map */
