body {
  color: #666;
  background-color: #fff;
  font-family: "microsoft yahei";
}

.top, .storeheader, .footer {
  width: 100%;
  height: 100px;
  background: #fff;
}

.storeheader .content {
  width: 1200px;
  height: 100px;
  background: #fff;
}

.header_main .header_search .search_p a {
  text-decoration: none;
}

.top {
  background-color: #f7f7f7;
  padding-top: 6px;
  height: 29px;
  position: relative;
  z-index: 902;
  border-bottom: 1px solid #ededed;
  font-size: 12px;
}

.header_main {
  width: 1200px;
  height: 80px;
  padding-top: 12px;
  padding-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.header_main .header_logo {
  display: block;
  width: 190px;
  height: 99px;
  top: 0px;
  position: absolute;
  left: 0;
  float: left;
  background: url(http://i0.ulecdn.com/ule/header/images/logo.png) no-repeat center;
}
.header_main .header_logo .picture {
  width: 100%;
  height: 100%;
  background: url(http://i0.ulecdn.com/i/event/2017/0921/logo_11.gif) right 0 no-repeat;
}
.header_main .header_search {
  width: 605px;
  float: right;
  position: relative;
  display: block;
  margin-top: 10px;
  display: block;
}
.header_main .header_search form {
  display: block;
}
.header_main .header_search form .input {
  width: 447px;
  color: #999999;
  float: left;
  border: solid 3px #c7181d;
  border-right: 0;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  background: #fff;
  font-size: 14px;
  box-sizing: content-box;
}
.header_main .header_search form button {
  width: 72px;
  height: 36px;
  border: 0;
  float: left;
  padding: 0;
  text-indent: -10px;
  overflow: hidden;
  cursor: pointer;
  background-color: #c7181d;
  color: #fff;
}
.header_main .header_search .search_p {
  display: block;
  line-height: 18px;
  margin-top: 5px;
  height: 18px;
  overflow: hidden;
  padding: 0;
  float: left;
}
.header_main .header_search .search_p a {
  margin-right: 3px;
  white-space: nowrap;
  color: #666;
  font-size: 12px;
}

.storeheader {
  height: 36px;
  background-color: #c7181d;
}
.storeheader .content {
  height: 100%;
  margin: 0 auto;
  background-color: #c7181d;
}
.storeheader .content .left {
  width: 202px;
  height: 100%;
  border-left: 1px solid #c8171d;
  border-right: 1px solid #c7181d;
  float: left;
  position: relative;
}
.storeheader .content .left .span1 {
  width: 80px;
  height: 100%;
  padding: 0 10px 0 10px;
  float: left;
  color: #fff;
  line-height: 36px;
}
.storeheader .content .left .span2 {
  float: left;
  width: 100px;
  height: 100%;
  position: relative;
  line-height: 36px;
  background: url(http://i0.ulecdn.com/i/vi/2013/1217/ratestar.png) no-repeat left center;
}
.storeheader .content .left .span2 i {
  display: block;
  height: 100%;
  background: url(http://i0.ulecdn.com/i/vi/2013/1217/ratestar2.png) no-repeat left center;
}
.storeheader .content .shop {
  width: 78px;
  height: 36px;
  float: right;
  padding-right: 165px;
  position: relative;
  line-height: 36px;
}
.storeheader .content .shop .shop_left {
  padding: 0;
  display: inline-block;
  width: 78px;
  height: 30px;
  padding-top: 6px;
  float: left;
  line-height: 29px;
  position: relative;
}
.storeheader .content .shop .shop_left .dianpu {
  background: url(http://i0.ulecdn.com/i/vi/2013/1217/storettbg.png) 0 -110px no-repeat;
  float: left;
  padding-left: 30px;
  height: 24px;
  line-height: 24px;
  color: #fcc;
  font-size: 12px;
}
.storeheader .content .shopcart {
  margin: 0;
  background: url(http://i0.ulecdn.com/i/vi/2013/1217/bg_shopcart.png) no-repeat right top;
  height: 41px;
  color: #fff;
  width: 153px;
  display: inline;
  z-index: 889;
  position: absolute;
  right: 0;
  top: -6px;
  float: left;
}
.storeheader .content .shopcart .cart {
  height: 37px;
  line-height: 45px;
  padding-left: 41px;
  padding-top: 4px;
  text-align: left;
  color: #fff;
  font-size: 12px;
}
.storeheader .content .shopcart .span1 {
  font-size: 16px;
  position: absolute;
  top: 5px;
  right: 20px;
  height: 30px;
  width: 58px;
  text-align: center;
  line-height: 34px;
}

.scale {
  width: 1000px;
  margin: 50px 0 0 50px;
  position: relative;
}
.scale .content {
  position: absolute;
  left: 430px;
  top: 20px;
  height: 400px;
  width: 580px;
  z-index: -1;
}
.scale .content h2 {
  margin-top: 100px;
  color: black;
}
.scale .content .price {
  margin-top: 20px;
  font-size: 12px;
  margin-bottom: 30px;
}
.scale .content .price .num {
  color: #c7181d;
  font-size: 27px;
}
.scale .content p {
  font-size: 12px;
}
.scale .content p input {
  width: 50px;
  text-align: center;
}
.scale .content p .minus {
  display: inline-block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  text-align: center;
  background-color: #ccc;
  text-decoration: none;
  color: #777;
}
.scale .content p .plus {
  display: inline-block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  text-align: center;
  background-color: #ccc;
  text-decoration: none;
  color: #777;
}
.scale .st {
  width: 398px;
  height: 398px;
  border: 1px solid #ccc;
}
.scale .st img {
  width: 398px;
  height: 398px;
  display: block;
}
.scale .st .sf {
  background: orange;
  opacity: .2;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
  cursor: move;
  z-index: 100;
}
.scale .bf {
  width: 450px;
  height: 450px;
  border: 1px solid #ccc;
  position: absolute;
  left: 398px;
  top: 0;
  overflow: hidden;
  visibility: hidden;
}
.scale .bf .bt {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
}

.select {
  width: 450px;
  margin: 20px 0 0 50px;
  position: relative;
  overflow: hidden;
  height: 50px;
}
.select .list {
  float: left;
  width: 410px;
  height: 50px;
  position: relative;
  overflow: hidden;
}
.select .list ul {
  list-style: none;
  position: absolute;
}
.select .list ul li {
  float: left;
  padding: 0 16px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.select .list ul li img {
  width: 50px;
}

.footers {
  overflow: hidden;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  border-top: 1px solid #ccc;
}
.footers .left {
  width: 398px;
  height: 64px;
  margin-left: 10px;
  float: left;
}
.footers .left ul {
  list-style: none;
}
.footers .left ul li {
  width: 62px;
  height: 62px;
  float: left;
}
.footers .right {
  float: left;
  margin-left: 30px;
  height: 100%;
  width: 550px;
}
.footers .right .buy {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  text-align: center;
}
.footers .right .buy .a1 {
  display: block;
  float: left;
  width: 128px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  background-color: #c7181d;
  margin-right: 10px;
  border-radius: 5px;
  text-decoration: none;
}
.footers .right .buy .a2 {
  display: block;
  float: left;
  width: 148px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  background-color: orange;
  border-radius: 5px;
  text-decoration: none;
}

.last {
  width: 150px;
  margin: 20px auto 0 auto;
  color: #ccc;
  font-size: 12px;
}

.footer {
  height: 300px;
  height: 437px;
  background-color: #fff;
  font-size: 12px;
  padding: 20px 0;
}

/*# sourceMappingURL=details.css.map */
