body {
  color: #666;
  background-color: #f7f7f7;
  font-family: "microsoft yahei";
}

.top1 .ulleft, .top1 .ulright {
  list-style: none;
}

.top1 .ulleft .ulleft_li .ulleft_li_a, .top1 .ulright .login .blue, .top1 .ulright .ulright_1 .ulright_1_a, .top1 .ulright .ulright_2 .a_1, .top1 .ulright .ulright_2 .a_2, .top1 .ulright_1 ul li a {
  text-decoration: none;
}

.top1 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 22px;
}
.top1 .ulleft {
  height: 20px;
  float: left !important;
}
.top1 .ulleft .ulleft_li {
  float: left;
  line-height: 22px;
  height: 27px;
}
.top1 .ulleft .ulleft_li .ulleft_li_a {
  background: url(http://i0.ulecdn.com/ule/header/images/ico_return-home.png) no-repeat left center;
  padding-left: 20px;
  color: #666;
}
.top1 .ulright {
  height: 22px;
  float: right !important;
}
.top1 .ulright .welcome {
  padding-right: 0;
  float: left;
  padding: 0 12px;
  line-height: 22px;
  height: 27px;
}
.top1 .ulright .welcome span {
  display: inline;
}
.top1 .ulright .login {
  float: left;
  padding: 0 12px;
  line-height: 22px;
  height: 27px;
}
.top1 .ulright .login .blue {
  color: #06c;
  cursor: pointer;
}
.top1 .ulright .ulright_1 {
  z-index: 2;
  width: 58px;
  height: 27px;
  line-height: 22px;
  position: relative;
  float: left;
  padding: 0 12px;
}
.top1 .ulright .ulright_1 .ulright_1_a {
  white-space: nowrap;
  padding-right: 10px;
  background: url(http://i0.ulecdn.com/ule/header/images/header_1407.png) no-repeat;
  background-position: right 2px;
  color: #666;
}
.top1 .ulright .ulright_2 {
  z-index: 2;
  width: 58px;
  position: relative;
  background-position: -150px 5px;
  float: left;
  padding: 0 10px;
  padding-left: 26px;
  line-height: 22px;
  height: 27px;
}
.top1 .ulright .ulright_2 .phone {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: 10px;
  top: 4px;
  background: url(http://i0.ulecdn.com/ule/header/images/header_1407.png) no-repeat;
}
.top1 .ulright .ulright_2 .a_1 {
  white-space: nowrap;
  background-position: right 2px;
  padding-right: 10px;
  color: #666;
  background: url(http://i0.ulecdn.com/ule/header/images/header_1407.png) no-repeat;
  background-position: right 2px;
}
.top1 .ulright .ulright_2 .icon_list {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: 10px;
  top: 4px;
  background: url(http://i0.ulecdn.com/ule/header/images/header_1407.png) no-repeat;
  background-position: -319px 0;
}
.top1 .ulright .ulright_3 {
  z-index: 2;
  width: 58px;
  height: 27px;
  line-height: 22px;
  position: relative;
  float: left;
  padding: 0 7px;
  margin-left: 20px;
}
.top1 .ulright .ulright_2 .call {
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: 10px;
  top: 4px;
  background: url(http://i0.ulecdn.com/ule/header/images/header_1407.png) no-repeat;
  background-position: -260px -25px;
  padding-right: 3px;
}
.top1 .ulright .ulright_2 .a_2 {
  white-space: nowrap;
  background-position: right 2px;
  padding-right: 10px;
  color: #a71b1b;
  background-position: right 2px;
}
.top1 .ulright_1 ul {
  width: 58px;
  display: none;
  height: auto;
  position: absolute;
  top: 22px;
  left: -1px;
  padding: 5px 0;
  border: solid 1px #d9d9d9;
  border-top: 0;
  background-color: #fff;
  list-style: none;
}
.top1 .ulright_1 ul li {
  height: 28px;
  line-height: 28px;
  padding: 0;
  float: none;
  overflow: hidden;
}
.top1 .ulright_1 ul li a {
  display: block;
  background-color: #fff;
  padding-left: 3px;
  white-space: nowrap;
  color: #666;
}
.top1 .ulright_2 ul {
  width: 180px;
  left: 50%;
  margin-left: -90px;
  border-radius: 8px;
  padding: 10px 0;
  display: none;
  height: auto;
  position: absolute;
  top: 22px;
  border: solid 1px #d9d9d9;
  border-top: 0;
  background-color: #fff;
}
.top1 .ulright_2 ul li {
  width: 158px;
  height: 163px;
  margin: 0 auto;
  line-height: 28px;
  padding: 0;
  float: none;
  overflow: hidden;
}
.top1 .ulright_2 ul li img {
  line-height: 28px;
}

/*# sourceMappingURL=header.css.map */
